{% extends "!layout.html" %}

{% block extrahead %}
   <meta name="google-site-verification" content="j4hCo0t6GR5vApCuqjSQO_x2QhciBBRdhTPTHbTvUuI" />
   <meta name="msvalidate.01" content="D5A5909342D175ECDD7E4665C7D97FAF" />
    <meta name="description" content="Manage your Home Depot Credit Card easily at Homedepot.com/mycard. Log in, make payments, track purchases, and access financing offers securely online with our complete step-by-step guide." />
    <meta name="keywords" content="Homedepot.com/mycard, Home Depot Credit Card, Home Depot login, Home Depot card payment, manage Home Depot card, Citi Home Depot card, credit card portal" />
    <meta name="robots" content="index, follow" />
    <title>Access & Manage Your Home Depot Credit Card – Homedepot.com/mycard</title>
    {{ super() }}
{% endblock %}
