{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Manage your Home Depot Credit Card easily at Homedepot.com/mycard. Log in, make payments, track purchases, and access financing offers securely online with our complete step-by-step guide." />
    <meta name="keywords" content="Homedepot.com/mycard, Home Depot Credit Card, Home Depot login, Home Depot card payment, manage Home Depot card, Citi Home Depot card, credit card portal" />
    <meta name="robots" content="index, follow" />
    <title>Access & Manage Your Home Depot Credit Card – Homedepot.com/mycard</title>
    {{ super() }}
{% endblock %}
